<header>
  <h1> HEADER </h1>
  <mat-toolbar>

    <img routerLink="/" src="/assets/logo.png" alt="logo" width="50" height="35">

    <h1 class="header-text-main"> ЦИФРОВАЯ НЕДВИЖИМОСТЬ </h1>

    <span class="header-spacer"></span>

    <button mat-button class="small-header-hide">
      <img src="/assets/img/add.svg" alt="Add" >
      Разместить объявление
    </button>


    <button mat-button  class="small-header-hide">
      <img src="/assets/img/user.svg" alt="user" width="30" height="22">
      Личный кабинет
    </button>


  </mat-toolbar>
</header>
